:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5vw;
}

.flex-row {
  display: flex;
  flex: row;
}

.sidebar {
  padding-top: 25px;
  max-width: 15vw;
  margin-left: 25px;
  padding-right: 25px;
  border-right: 1px solid black;
  height: 100vh;
}

.homepage {
  margin-left: 50px;
  margin-top: 20px;
  overflow: scroll;
  height: 100vh;
  width: 83vw;
}

.new {
  margin-left: 8px;
  margin-top: 20px;
  height: 2px;
}

.term {
  height: 2px;
  margin-top: 8px;
  margin-bottom: 25px;
  font-weight: bold;
}

.term:hover {
  cursor: pointer;
}

.term-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  align-self: center;
  height: 5px;
}

.term-header {
  margin-top: 40px;
  font-weight: bold;
}

.term-block {
  display: flex;
  flex-direction: row;
}

.course {
  margin-left: 8px;
  margin-top: 20px;
  height: 2px;
}

.course:hover {
  cursor: pointer;
}

.content {
  margin-top: 40px;
}

img {
  width: 15px;
  height: 15px;
}

img:hover {
  cursor: pointer;
}

.term-changes:hover {
  font-weight: bold;
  cursor: pointer;
}

.cancel-and-save {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}

.cancel-and-save:hover {
  font-weight: bold;
  cursor: pointer;
}

.term-op {
  position: absolute;
  right: 30px;
  top: 20px;
  text-align: right;
}

.save-changes {
  margin-top: 35px;
}

.save-changes:hover {
  font-weight: bold;
  cursor: pointer;
}

.type-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  line-height: 35px;  
  height: fit-content;
}

.type-block2 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 250px;
  line-height: 2px;
  height: 25px;
}

.tag-check {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 250px;
  line-height: 5px;
  height: 5px;
}

.close {
  margin-left: 30px;
}

.item-row {
  display: flex;
  flex-direction: row;
}

table {
  width: 70vw;
  text-align: center;
}

.edit {
   color: teal;
}

.edit:hover {
  cursor: pointer;
}

.coursetable {
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.tablecol {
  width: 30vw;
}
