@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  width: 100%;
}

i {
  margin-right: 8px;
  color: #919191 !important;
}

a {
  font-weight: 500;
  color: #717171;
  text-decoration: none;
}

a:hover {
  color: #717171;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  display: flex;
  max-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: 1.5vw;
}

.flex-row {
  display: flex;
  flex: row;
}

th {
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #d1d1d1;
  width: 100%;
  padding-left: 0px;
  padding-bottom: 5px;
  margin-bottom: -10px;
  word-break: break-all;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.term-block {
  display: flex;
  flex-direction: row;
}

.context_menu {
  opacity: 0.0;
}

.context_menu:hover {
  opacity: 1.0;
}

.component {
  color: #313131 !important;
}

img {
  width: 21px;
  height: 21px;
  margin-right: 10px;
  border-radius: 5px;
}

img:hover {
  cursor: pointer;
}

.header { 
  padding: 5px;
  margin-bottom: 20px;
  font-size: 34px;
  border-left: none;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin-right: 15px;
  margin-top: 80px;
  min-width: 120px;
  color: #717171;
  font-weight: 700;
  width: 80%;
}

.subheader {
  width: 95%;
  font-size: 20px;
  font-weight: 600;
  color: #717171;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 5px;
}

.alert {
  color: red;
}

.fa-solid:hover {
  cursor: pointer;
  color: #313131 !important;
}

.empty {
  color: #919191;
  margin-left: 5px;
  margin-bottom: 25px;
  margin-top: 25px;
}

.fa-regular:hover {
  cursor: pointer;
  color: #313131 !important;
}

input {
  font-size: 15px;
  border: 0px solid white;
  outline: none;
  accent-color: #717171;
}

input:hover {
  outline: none;
  border: 0 none #FFF;
}

input::after {
  accent-color: #717171;
  border: 0px solid white;
  outline: none;
}

input:focus {
  border: 0px solid white;
  outline: none;
}

input:checked {
  accent-color: #717171;
}

.page {
  width: calc(100vw-var(--left-width));
  padding-top: 0px;
  padding-left: 80px;
  padding-bottom: 30px;
}

.term-op {
  position: absolute;
  right: 30px;
  top: 20px;
  text-align: right;
}

.close {
  margin-left: 30px;
}

table {
  /* text-align: center; */
  /* border-collapse: separate; */
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  overflow-x: auto;
}

button {
  background-color: white;
  padding: 8px;
  border-radius: 12px;
}

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 3px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F7F6F3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
}
